*{
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto Mono', monospace; */
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  transform-style: preserve-3d;
  z-index: -10;
}

.strikeout{
  color: #c1c0c0;
  text-decoration:line-through;
}

ul>li {
  overflow: hidden;
}

.btn {
  position: absolute;
  height: 100%;
  background-color: rgb(142, 52, 36);
  color: white;
  top: 0;
  right: 0;
  transition: width .3s ease-in-out;
  width: 0px;
  transform-origin: right;
}

.fa-trash{
  transition: opacity .3s ease-in-out;
  opacity: 0;
  transform-origin: right;
  font-size: 20px;
}

ul>li:hover .btn {
  width: 50px;
}

ul>li:hover .fa-trash {  
  opacity: 1;
}
