*{
  margin: 0;
  padding: 0;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.list{
  flex: none;
  width: 20%;
  text-align: center;
  padding: 20px;
  margin-top: 300px;
  background-color: #F2B279;
  border: 5.5px solid #734B43;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(163 108 26 / 40%);
}

h1{
  padding: 10px;
}

.header{
  background-color: antiquewhite;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgb(163 108 26 / 40%);
}

input{
  padding: 4px 0;
  border: 2.5px solid #8C5535;
  box-shadow: 2px 2px 2px 1px rgb(163 108 26 / 40%);
}

.strikeout{
  color: #F2F2F2;;
  text-decoration:line-through;
}

ul{
  margin: 10px auto;
}

.shopping-list{
  list-style-type: none;
  padding: 5px;
  background-color: #D98C4A;
  border: 2px solid #734B43;
  border-radius: 2px;
  width: 50%;
  margin: 5px auto;
  box-shadow: 2px 2px 2px 1px rgb(163 108 26 / 40%);
}

button{
  color: #F2F2F2;
  background-color: #734B43;
  padding: 3px 8px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px 1px rgb(163 108 26 / 40%);
  border: 2px solid #8C5535;
  border-radius: 2px;
  font-size: 16px;
}

.savebtn{
  margin-left: 5px;
}

button:hover{
  background-color:#F2F2F2;
  color:#734B43;
}

@media (max-width: 960px) {
  .list{
    width: 90%;
    margin-top: 10vh;
  }
}
